
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 143.9rem;
}.home-1TR {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  box-sizing: border-box;
  padding: 0rem 15.5rem 0rem 15.6rem;
  overflow: hidden;
  width: 100%;

  .nav-VG7 {
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    margin: 0rem 3.3rem 17.1rem 3.1rem;
    box-sizing: border-box;
    padding: 2.3rem 4rem 2.7rem 4rem;
    align-items: center;
    background-color: rgba(217, 217, 217, 0.1000000015);
    width: calc(100% - 6.4rem);
    height: 10.4rem;
    display: flex;

    .logo-frame-ysR {
      margin: 0rem 34.2rem 0rem 0rem;
      height: calc(100% - 0.0005rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .logo-CkB {
        width: 5rem;
        height: 5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.4rem 0.7rem 0rem 0rem;
      }
      .xmovie-FiT {
        line-height: 1.2599999711;
        font-family: Outfit, 'Source Sans Pro';
        white-space: nowrap;
        align-items: baseline;
        flex-shrink: 0;
        text-align: center;
        font-size: 3.7rem;
        font-weight: 600;
        display: flex;
        letter-spacing: 0.185rem;
        text-transform: capitalize;
        color: #ffffff;

        .xmovie-FiT-sub-0 {
          line-height: 1.1625;
          letter-spacing: 0.185rem;
          text-transform: capitalize;
          color: #d60000;
          font-family: Saira Stencil One, 'Source Sans Pro';
          font-size: 3.7rem;
          font-weight: 400;
        }
        .xmovie-FiT-sub-1 {
          letter-spacing: 0.185rem;
          text-transform: capitalize;
          color: #ffffff;
          font-family: Saira Stencil One, 'Source Sans Pro';
          font-size: 3.7rem;
          font-weight: 400;
          line-height: 1.1625;
        }
      }
    }
    .frame-3-dXy {
      align-items: center;
      flex-shrink: 0;
      margin-top: 0.3995rem;
      height: 5.001rem;
      overflow: hidden;
      position: relative;
      display: flex;

      .frame-1-9WK {
        height: calc(100% - 3.001rem);
        overflow: hidden;
        position: relative;
        display: flex;
        column-gap: 5.6rem;
        align-items: flex-start;
        flex-shrink: 0;
        margin: 1.501rem 1.2rem 1.5rem 0rem;

        .about-rQj {
          text-align: center;
          font-size: 1.6rem;
          line-height: 1.26;
          text-transform: capitalize;
          white-space: nowrap;
          flex-shrink: 0;
          font-weight: 200;
          color: #ffffff;
          font-family: Outfit, 'Source Sans Pro';
        }
        .movies-xif {
          line-height: 1.26;
          text-align: center;
          font-weight: 200;
          text-transform: capitalize;
          color: #ffffff;
          font-family: Outfit, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
        }
        .series-hRM {
          flex-shrink: 0;
          line-height: 1.26;
          text-transform: capitalize;
          white-space: nowrap;
          color: #ffffff;
          font-family: Outfit, 'Source Sans Pro';
          text-align: center;
          font-size: 1.6rem;
          font-weight: 200;
        }
        .home-1S3 {
          color: #ffffff;
          flex-shrink: 0;
          text-transform: capitalize;
          font-family: Outfit, 'Source Sans Pro';
          white-space: nowrap;
          text-align: center;
          font-size: 1.6rem;
          font-weight: 200;
          line-height: 1.26;
        }
      }
      .line-1-7EB {
        background-color: #ffffff;
        flex-shrink: 0;
        margin-right: 1.1rem;
        width: 0.1rem;
        height: 5.001rem;
      }
      .frame-2-diK {
        font-family: Outfit, 'Source Sans Pro';
        position: relative;
        text-align: center;
        text-transform: capitalize;
        color: #ffffff;
        border-radius: 2.5rem;
        margin: 1.401rem 0rem 1.4rem 0rem;
        padding: 0.1rem 1.1rem 0rem 1.1rem;
        height: calc(100% - 2.801rem);
        overflow: hidden;
        white-space: nowrap;
        background-color: #d60000;
        box-sizing: border-box;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.26;
        flex-shrink: 0;
      }
    }
  }
  .content-section-1-BtF {
    width: calc(100% - 6.3rem);
    height: 76rem;
    background-image: url('REPLACE_IMAGE:02642ed4ac8d10a2b9a4bb8a51eb19084fb72021');
    border-radius: 4.3rem;
    flex-shrink: 0;
    margin: 0rem 3.2rem 14rem 3.1rem;
    padding: 10.4rem 5.2rem 10.4rem 0.8rem;
    display: flex;
    align-items: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;

    .frame-5-sm5 {
      margin: 0rem 2.5rem 21.5rem 0rem;
      overflow: hidden;
      position: relative;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .unlimited-movies-Bmm {
        font-size: 9.7rem;
        font-weight: 700;
        letter-spacing: 0.873rem;
        text-transform: uppercase;
        color: #ffffff;
        font-family: Outfit, 'Source Sans Pro';
        max-width: 59.6rem;
        line-height: 1.1340206186;
        flex-shrink: 0;
        margin-bottom: 2.9rem;
      }
      .easy-way-to-search-for-your-movies-gyR {
        text-transform: lowercase;
        font-family: Roboto, 'Source Sans Pro';
        max-width: 38rem;
        font-weight: 200;
        letter-spacing: 0.261rem;
        flex-shrink: 0;
        font-size: 2.9rem;
        line-height: 1.5172413793;
        color: #ffffff;
      }
    }
    .text-label-9MD {
      flex-shrink: 0;
      margin-bottom: 5.5rem;
      width: 38.4rem;
      height: 6.3rem;
      background-color: rgba(217, 217, 217, 0.400000006);
      border-radius: 3rem;
    }
  }
  .title-popular-movies-cVh {
    border-bottom: solid 0.1rem #d60000;
    box-sizing: border-box;
    flex-shrink: 0;
    margin: 0rem 3.2rem 5.3rem 3.1rem;
    width: calc(100% - 6.3rem);
    height: 7rem;

    .auto-group-sjqk-wH5 {
      box-sizing: border-box;
      width: 33.9rem;
      font-size: 3rem;
      white-space: nowrap;
      border-left: solid 0.5rem #d60000;
      padding-left: 2.2rem;
      line-height: 1.5;
      letter-spacing: 0.39rem;
      font-family: Outfit, 'Source Sans Pro';
      height: 5rem;
      margin: 0rem 72.6rem 2rem 0rem;
      font-weight: 700;
      text-transform: uppercase;
      color: #ffffff;
    }
  }
  .movie-slider-ZpF {
    margin-bottom: 5.5rem;
    width: 100%;
    display: flex;
    column-gap: 1.2rem;
    align-items: center;
    flex-shrink: 0;

    .movie-1-hvT {
      flex-shrink: 0;
      width: 27.3rem;
      height: 38.1rem;
      background-color: rgba(217, 217, 217, 0.5);
      border-radius: 2.9rem;
    }
    .movie-2-EvP {
      width: 27.3rem;
      height: 38.1rem;
      background-color: rgba(217, 217, 217, 0.5);
      border-radius: 2.9rem;
      flex-shrink: 0;
    }
    .movie-3-ktj {
      width: 27.3rem;
      height: 38.1rem;
      background-color: rgba(217, 217, 217, 0.5);
      border-radius: 2.9rem;
      flex-shrink: 0;
    }
    .movie-4-V5d {
      width: 27.3rem;
      height: 38.1rem;
      background-color: rgba(217, 217, 217, 0.5);
      border-radius: 2.9rem;
      flex-shrink: 0;
    }
  }
  .title-popular-series-QCb {
    width: calc(100% - 6.3rem);
    height: 7rem;
    border-bottom: solid 0.1rem #d60000;
    box-sizing: border-box;
    flex-shrink: 0;
    margin: 0rem 3.2rem 5.4rem 3.1rem;

    .auto-group-dxkw-7Mu {
      width: 32.3rem;
      height: 5rem;
      font-size: 3rem;
      line-height: 1.5;
      box-sizing: border-box;
      letter-spacing: 0.39rem;
      font-family: Outfit, 'Source Sans Pro';
      font-weight: 700;
      text-transform: uppercase;
      margin: 0rem 74.2rem 2rem 0rem;
      padding-left: 2.2rem;
      color: #ffffff;
      white-space: nowrap;
      border-left: solid 0.5rem #d60000;
    }
  }
  .series-slider-kQs {
    margin-bottom: 14.7rem;
    width: 100%;
    display: flex;
    column-gap: 1.2rem;
    align-items: center;
    flex-shrink: 0;

    .movie-1-Hfh {
      width: 27.3rem;
      height: 38.1rem;
      background-color: rgba(217, 217, 217, 0.5);
      border-radius: 2.9rem;
      flex-shrink: 0;
    }
    .movie-2-dUf {
      width: 27.3rem;
      height: 38.1rem;
      background-color: rgba(217, 217, 217, 0.5);
      border-radius: 2.9rem;
      flex-shrink: 0;
    }
    .movie-3-yoR {
      width: 27.3rem;
      height: 38.1rem;
      background-color: rgba(217, 217, 217, 0.5);
      border-radius: 2.9rem;
      flex-shrink: 0;
    }
    .movie-4-VWs {
      width: 27.3rem;
      height: 38.1rem;
      background-color: rgba(217, 217, 217, 0.5);
      border-radius: 2.9rem;
      flex-shrink: 0;
    }
  }
  .footer-qKq {
    height: 10.2rem;
    overflow: hidden;
    background-color: rgba(217, 217, 217, 0.1000000015);
    flex-shrink: 0;
    margin: 0rem 4.3rem 0rem 3.1rem;
    box-sizing: border-box;
    padding: 2.2rem 42rem 2.6rem 42.6rem;
    width: calc(100% - 7.4rem);
    position: relative;

    .logo-footer-kBu {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-start;

      .logo-gLT {
        flex-shrink: 0;
        margin: 0.4rem 0.7rem 0rem 0rem;
        width: 5rem;
        height: 5rem;
        object-fit: cover;
        vertical-align: top;
      }
      .xmovie-D5V {
        font-weight: 600;
        text-transform: capitalize;
        color: #ffffff;
        font-family: Outfit, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        font-size: 3.7rem;
        line-height: 1.2599999711;
        letter-spacing: 0.185rem;
        align-items: baseline;
        flex-shrink: 0;
        text-align: center;

        .xmovie-D5V-sub-0 {
          color: #d60000;
          font-family: Saira Stencil One, 'Source Sans Pro';
          font-size: 3.7rem;
          font-weight: 400;
          line-height: 1.1625;
          letter-spacing: 0.185rem;
          text-transform: capitalize;
        }
        .xmovie-D5V-sub-1 {
          font-weight: 400;
          line-height: 1.1625;
          letter-spacing: 0.185rem;
          text-transform: capitalize;
          color: #ffffff;
          font-family: Saira Stencil One, 'Source Sans Pro';
          font-size: 3.7rem;
        }
      }
    }
  }
}
